/*Fontes importadas do tio google*/
/*como indicar elas:
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
/*RESETANDO O CSS - anula as configurações pré definidas pelo html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: linear-gradient(263.35deg, rgba(73, 190, 255, 0.3) 28.29%, rgba(200, 82, 255, 0.28) 107.57%);
    
    
}
/*---------------------Estilizando a barra de navegação-------------------------*/
/*posição do cabeçalho na pagina - conteúdo PAI no flex box*/
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-top: 18px;
    padding-right: 20px;
    
}
/*configurações do menu da barra de navegação - conteúdo PAI e filho de CABECALHO*/
.menu{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 27px;
    color: #1D1D1D;    
}
/*estilização dos itens do menu da barra de navegação - conteúdo filho*/
.menu-item{
    color: black;
    /*Esse padding serviu pra alinhar o texto ao botão*/
    padding-top: 15px;
}
/*hover dos itens do menu da barra de navegação - conteúdo filho*/
.menu-item:hover{
    color: #ffffff;

}
/*estilização do botão de login - conteúdo filho*/
.menu-botao{  
        color: #0f0f0f;
        font-size: 25px;
        border: 2px solid #3d3d3d;
        border-radius: 18px;
        padding: 10px 30px;
        cursor: pointer;
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 700;
        
}
.menu-botao:hover {
    color: #ffffff;
    border: 2px solid #6d6d6d;
    background-color: #6d6d6d;
}
/*------------------Estilizando o conteúdo principal------------------------*/
/*Estilizando o Main - Conteúdo pai*/
.conteudo-principal{
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
}
/* Estilizando a primeira seção inteira - conteúdo pai ou father container*/
.conteudo-principal-escrito{
    display: flex;
    /* Aqui a direção do flex-box foi adicionada para
     que os elementos fiquemu do lado do outro e centralizados*/
    flex-direction: row;
    align-items: center;
    /* Aqui foi configurado um espaço entre os itens de acordo
     com o flex-boxing :D*/
    justify-content: space-around;
    margin-left: 20px;
    
    
    

}
/*estilizando o conteúdo escrito através da DIV para definir a posição
este é um container pai*/
.conteudo-principal-escrito-texto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;
}


.conteudo-principal-escrito-titulo{
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    /*Font-wheit é o "peso" da fonte*/
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;

/* or 100% */

    color: #1D1D1D;
}
.conteudo-principal-escrito-info{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    /* Line-height é Espaçamento entre linhas*/
    line-height: 160%;

    text-align: center;

    color: #1D1D1D;
}
.conteudo-principal-escrito-imagem{
    height: 700px;
    margin: 30px;
    
}


/*Estilizando o conteúdo secundário - Container PAI*/
.conteudo-secundario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.conteudo-secundario-bloco{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    
}
/*Estilizando os textos - containers filhos*/
.conteudo-secundario-texto1{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    margin: 10px;
    

/* or 32px */

color: rgba(29, 29, 29, 0.8);
}
.conteudo-secundario-imagem{
    height: 300px;
    

}
.conteudo-secundario-texto2{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    margin: 10px;
    color: rgba(29, 29, 29, 0.8);
    

}

/*Estilizando o container pai do footer - cabeçalho*/

.rodape-background{
    display: flex;
    flex-direction: column;
    /*Align-itens alinha horizontal*/
    align-items: center;
    /*Justify-content alinha na vertical*/
    justify-content: center;
    background: linear-gradient(263.35deg, rgba(73, 190, 255, 0.3) 28.29%, rgba(200, 82, 255, 0.28) 107.57%);
    
    height: 161.32px;
    left: 1590px;
    top: 1604.77px;

}
.rodape-background-dev{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 160%;
    margin-top: 30px;
    color: rgba(29, 29, 29, 0.8);
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.social-media-img{
    width: 60px;
    height: 60px;
}
.social-media-img:hover{
    filter: blur(1px);
}

/*------------------Responsividade usando media querys---------------------*/
@media screen and (max-width: 768px){
    body{
        display: block;
        text-align: center;
        margin: 0%;
    }
    .cabecalho{
        display: block;
    }
    .menu{
        margin: 0px;
    }
    .conteudo-principal{
        display: block;
        margin: 0%;
    }
    .conteudo-principal-escrito{
        display: block;
        margin: 0%;
        text-align: center;
    }
    .conteudo-principal-escrito-texto{
        display: block;
        margin: 0%;
        text-align: center;
    }
    .conteudo-principal-escrito-info{
        text-align: center;
    }

    .conteudo-principal-escrito-imagem{
        display: block;
        width: 90vw;
        height: 90vw;

    }
    .conteudo-secundario-bloco{
        display: block;
    }
    .conteudo-secundario-bloco{
        display: block;
        margin: 0%;
    }
    .rodape-background{
        display: block;
        margin: 0%;
        text-align: center;
    }
    .conteudo-secundario-texto1{
        text-align: center;
    }
    .social-media{
        display: block;
    }
}